#header {
    background: #3c31dd;
    height: 4rem;
    z-index: 2;
}

#header img {
    cursor: default;
}

#header img:hover {
    cursor: pointer;
}

form-title {
  flex-grow: 1;
  text-align: center;
}

.fillBlue {
    background: #3c31dd;
    height: 20rem;
    z-index: 10;
}


#wave {
    z-index: 5;
}

#waveBg {
    z-index: -1;
    position: absolute;
    top: 50vh;
    left: 0;
}

#waveBgBg {
    z-index: -1;
    position: absolute;
    top: 50vh;
    left: 0;
}

#editContainer, #newRoomContainer {
    position: absolute;
    top: 17vh;
    left: 5vw;
    z-index: 5;
}

#newRoomContainer {
    left: 38vw;
}