body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fillBlue {
    background: #3c31dd;
    height: 20vw;
    z-index: 5;
}

#wave {
    z-index: 5;
}

#waveBg,
#waveBgBg {
    z-index: -2;
    position: absolute;
    top: 20vw;
    left: 0;
}

#waveBgBg {
    z-index: -1;
}
#header {
    background: #3c31dd;
    height: 4rem;
    z-index: 2;
}

#header img {
    cursor: default;
}

#header img:hover {
    cursor: pointer;
}

.profilecontainer {
    top: 30%; /* Positionierung von oben um 50% der Höhe des Elternelements (container) */
    left: 50%; /* Positionierung von links um 50% der Breite des Elternelements (container) */
    transform: translate(-50%, -50%); /* Zentrieren des Elements sowohl horizontal als auch vertikal */
    position: absolute;
}
.profilepicture {
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#dashContainer {
    position: absolute;
    top: 15vh;
    z-index: 10;
    width: 100vw;
}

#profileContainer {
    width: 9rem;
    height: 9rem;
}

#roomButton, #itemButton {
    height: 4rem;
    width: 8rem;
}