.dashBubble {
    width: 12rem;
    height: 12rem;
    z-index: 1;
}

.dashBubble p {
    z-index: 10;
}


#itemsBubbleContents {
    border: 0;
}

#itemsBubble, #itemsBubbleBg, #itemsBubbleBgBg {
    z-index: 3;
    position: absolute;
}

#itemsBubbleBg {
    z-index: 2;
    transform: rotate(90deg);
}

#itemsBubbleBgBg {
    z-index: 1;
    transform: rotate(180deg);
}

#roomsBubble, #roomsBubbleBg, #roomsBubbleBgBg {
    z-index: 3;
    position: absolute;
}

#roomsBubbleBg {
    z-index: 2;
    transform: rotate(10deg);
}

#roomsBubbleBgBg {
    z-index: 1;
    transform: rotate(340deg);
}

#leastBubble, #leastBubbleBg, #leastBubbleBgBg {
    z-index: 3;
    position: absolute;
}

#leastBubbleBg {
    z-index: 2;
    transform: rotate(25deg);
}

#leastBubbleBgBg {
    z-index: 1;
    transform: rotate(120deg);
}

.controlBubble {
    width: 15rem;
    height: 10rem;
    cursor: default;
}

.controlBubble:hover {
    cursor: pointer;
}

.userControl {
    display: none;
}
.fillBlue {
    background: #3c31dd;
    height: 20rem;
    z-index: 10;
}
#wave {
    z-index: 5;
}

#waveBg {
    z-index: -1;
    position: absolute;
    top: 50vh;
    left: 0;
}

#waveBgBg {
    z-index: -1;
    position: absolute;
    top: 50vh;
    left: 0;
}
#header {
    background: #3c31dd;
    height: 4rem;
    z-index: 2;
}
.profilecontainer {
    top: 30%; /* Positionierung von oben um 50% der Höhe des Elternelements (container) */
    left: 50%; /* Positionierung von links um 50% der Breite des Elternelements (container) */
    transform: translate(-50%, -50%); /* Zentrieren des Elements sowohl horizontal als auch vertikal */
    position: absolute;
}
.profilepicture {
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 50%;

}
.eye-section {
/*   added border just to see the where the eye section is. We'll remove it later. */

  width: 90px;
  height: 20px;
  position: absolute;
  left: 20%;
  top: 20%;
}
.left-eye, .right-eye {
  background-color: #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 30%;

}
.right-eye {
  right: 0px;
}
.mouth {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 60%;
  height: 20%;
  border-radius: 50%;
  border-bottom: 3px solid black;
}
.buttoncontainer {

    flex-direction: row;

}

.itembutton, .roombutton {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    background-color: #ffffff;
    text-align: center;
    display: grid;
    align-items: center;
    border: 0.5px solid black;
    margin: 10px; /* Füge etwas Abstand zwischen den Buttons hinzu */
}