 .fillBlue {
            background: #3c31dd;
    height: 12rem;
    z-index: 1;
        }
        .fillBlue img {
            position: absolute;
            top: 100px;
            left: 100px;
            z-index: 0;
        }
        .card{
        left: 500px;

        }

        .container{

        background-color: green;

        }

        .card-text: {
        background-color: green;
        top: 400px;
        }
        .container{
        left: 400px;

        }
        .nav{
        background-color: white;
        }