body {
    margin: 0;
    padding: 0;
}

#header {
    background: #3c31dd;
    height: 4rem;
    z-index: 2;
}

#header img {
    cursor: default;
}

#header img:hover {
    cursor: pointer;
}

.fillBlue {
    background: #3c31dd;
    height: 20rem;
    z-index: 10;
}


#wave {
    z-index: 5;
}

#waveBg {
    z-index: -1;
    position: absolute;
    top: 50vh;
    left: 0;
}

#waveBgBg {
    z-index: -1;
    position: absolute;
    top: 50vh;
    left: 0;
}

#signinContainer, #signupContainer {
    z-index: 10;
    position: absolute;
    top: 15vw;
}

#signupContainer {
    top: 10vw;
}