body {
    margin: 0;
    padding: 0;
}

#header {
    background: #3c31dd;
    height: 4rem;
    z-index: 2;
}

#header img {
    cursor: default;
}

#header img:hover {
    cursor: pointer;
}

.fillBlue {
    background: #3c31dd;
    height: 20rem;
    z-index: 1;
}

#signinHeader {
    z-index: 1;
}

#landingContainer {
    position: absolute;
    top: 15vw;
    z-index: 10;
}

