body {
    margin: 0;
    padding: 0;
}

#header {
    background: #3c31dd;
    height: 4rem;
    z-index: 2;
}

#header img {
    cursor: default;
}

#header img:hover {
    cursor: pointer;
}


.fillBlue {
    background: #3c31dd;
    height: 20vw; 
    z-index: 5;
}

#wave {
    z-index: 5;
}

#waveBg,
#waveBgBg {
    z-index: -2;
    position: absolute;
    top: 20vw; 
    left: 0;
}

#waveBgBg {
    z-index: -1;
}

#landingContainer {
    position: absolute;
    top: 13vw; 
    z-index: 10;
}

.keyBenefitSvg {
    color: #3c31dd;
    position: relative;
    top: 5px;
}

