<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Inventory-Dashboard</title>
</head>
<body>
<nav class="navbar pt-3 p-2" id="header">
    <img src="../static/assets/logo.png" width="175rem" onclick="window.location.href='/'"/>
    <section id="homeheader" class="">
</section>
    <div onclick="window.location.href='/logout'">
        <img src="../static/assets/solid/arrow-right-from-bracket.svg" width="20vw">
        <i class="fa-regular fa-right-from-bracket"></i>
    </div>
</nav>
<section id="signinHeader" class="">
  <div class="fillBlue"></div>
  <img id="wave" src="../static/assets/wave.svg"/>
  <img id="waveBg" src="../static/assets/waveBg.svg"/>
  <img id="waveBgBg" src="../static/assets/waveBgBg.svg"/>
</section>

<div>


<div class="profilecontainer">
    <div class="profilepicture">
        <div class="mouth"></div>
        <div class="eye-section">
            <div class="left-eye"></div>
            <div class="right-eye"></div>
        </div>
    </div>
    <p class="fs-6 fw-semibold">Welcome Back, {{ current_user.username }}!</p>


</div>
<div class="buttoncontainer d-flex flex-row justify-content-around align-items-center">
    <div class="itembutton" id="itembutton" onclick="">Items</div>
    <div class="roombutton" id="roombutton" onclick="">Rooms</div>
</div>
    <div class ="itemcontainer">
        <div class="item" id="item1">{{ item }}</div>
        <div class="item" id="item2">{{ item }}</div>
        <div class="item" id="item3">{{ item }}</div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script>
      const invContainer = document.getElementById("invContainer");
      const logoutTexts = document.querySelectorAll(".userControl");
      const logoutContainer = document.getElementById("logoutContainer");

      invContainer.addEventListener('mouseover', () => {
        logoutTexts.forEach(icon => {
            icon.style.display = 'inline';
        });
    });

    invContainer.addEventListener('mouseout', () => {
        logoutTexts.forEach(icon => {
            icon.style.display = 'none';
        });
    });

      logoutContainer.addEventListener('mouseover', () => {
        logoutTexts.forEach(icon => {
            icon.style.display = 'inline';
        });
    });

    logoutContainer.addEventListener('mouseout', () => {
        logoutTexts.forEach(icon => {
            icon.style.display = 'none';
        });
    });
  </script>
</body>
</html>