.dashBubble {
    width: 12rem;
    height: 12rem;
}

.controlBubble {
    width: 15rem;
    height: 10rem;
    cursor: default;
}

.controlBubble:hover {
    cursor: pointer;
}

.userControl {
    display: none;
}