 .fillBlue {
            background-color: blue;
            position: relative;
            z-index: 1;
            overflow-x: hidden;
        }
        .fillBlue img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
 .Row {
    display: flex;
    justify-content:center;
    align-items: center;
}
